body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(197, 230, 197);
  text-align: center;
  color: black;
}

h1 {
  text-decoration: underline;
  color: green;
}

a {
  color: black;
  text-decoration: none;
}

#body-recipe {
  background-color: rgb(230, 189, 113);
}

li {
  list-style-type: square;
}

img {
  height: 200px;
  width: 200px;
}

.ingredients {
  text-decoration: underline;
}

ol li{
  list-style: decimal;
}

.home-link {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 18px;
}